.pagination_section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #F36E0E;
    border-color: #F36E0E;
    padding: .4rem .75rem;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
    padding: .4rem .75rem;
}

.page-link:hover {
    z-index: 2;
    color: #0b2e13;
    text-decoration: none;
    background-color: #ECECEC;
    border-color: #ECECEC;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0b2e13;
    background-color: #fff;
    border: 1px solid #ECECEC;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.01rem rgb(0 123 255 / 25%);
}
