.slider {
  background-image: url("../img/slider.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 620px; }
  .slider .left-item {
    width: 60%;
    left: 50px;
    bottom: 50px; }
    @media screen and (max-width: 780px) {
      .slider .left-item {
        width: 100%; } }
    .slider .left-item .latest {
      font-size: 19px;
      color: #fff; }
    .slider .left-item h1 {
      font-size: 42px;
      margin: 30px 0; }
    .slider .left-item .uk-buttom-warning {
      background: #f7911e;
      color: #fff;
      border-radius: 5px;
      line-height: 50px; }

section.article {
  background: #F0F0F7;
  padding: 40px; }
  section.article .uk-search-default {
    width: 100%;
    background: #fff; }

.item-search {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 80px; }
  .item-search .cat-name {
    padding: 10px;
    background: #F7911E;
    color: #fff;
    font-weight: bold;
    left: 20px;
    top: 20px; }
  .item-search .img-post img {
    object-fit: cover;
    height: 300px;
    width: 100%; }
  .item-search .title-post h2 {
    color: #000;
    margin: 20px; }
    @media screen and (max-width: 780px) {
      .item-search .title-post h2 {
        margin: 20px 0; } }
  .item-search .date-post {
    color: #B5B5B5;
    font-size: 12px;
    margin-bottom: 20px; }
  .item-search .des-post {
    line-height: 1.5;
    font-size: 14px;
    padding: 0 20px;
    color: #27323E; }
  .item-search .likes {
    padding: 0;
    list-style: none;
    padding: 30px;
    color: #b5b5b5; }
    .item-search .likes li {
      margin-right: 20px; }
      .item-search .likes li .text {
        font-size: 12px;
        margin-left: 5px; }

.more-posts {
  margin: 20px;
  margin-top: 50px;
  text-align: center; }
  .more-posts .uk-buttom-warning-outline {
    border: 2px solid;
    border-color: #f7911e;
    color: #f7911e;
    border-radius: 25px;
    line-height: 50px; }

footer {
  color: #C3CCD3;
  background: #283C48; }

body.faq {
  background: #F0F0F7; }
  body.faq header {
    background: #162635;
    padding: 25px;
    width: auto; }

.width-100 {
  width: 100%; }

section.faqs {
  padding: 40px; }

.uk-accordion-title {
  background: #3A4D5B;
  color: #fff;
  padding: 25px;
  font-size: 18px; }

.uk-accordion-content {
  margin-top: 20px;
  background: #fff;
  padding: 30px;
  margin: 0;
  color: #27323E;
  font-size: 18px;
  line-height: 1.5; }

.uk-accordion-title::before {
  background-image: url("../img/chevron-down.svg"); }

.uk-open > .uk-accordion-title::before {
  background-image: url("../img/chevron-down-l.svg"); }

.uk-accordion-title:hover, .uk-accordion-title:focus {
  color: #fff; }

.opininons-items .uk-card-body {
  padding: 20px;
  margin: 0; }
  .opininons-items .uk-card-body .op-item {
    background: #fff;
    marign: 20px;
    text-align: center;
    padding: 20px; }
    .opininons-items .uk-card-body .op-item .img-box {
      text-align: center; }
      .opininons-items .uk-card-body .op-item .img-box img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%; }
    .opininons-items .uk-card-body .op-item .title-item {
      color: #162635;
      font-weight: bold;
      margin: 12px; }
    .opininons-items .uk-card-body .op-item .dex-item {
      font-size: 15px;
      color: #27323E;
      line-height: 1.5; }

.cat-left {
  background: #fff;
  padding: 30px 20px; }
  .cat-left h3 {
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc; }
  .cat-left .selcted-items {
    margin-top: 21px;
    margin-bottom: 28px; }
    .cat-left .selcted-items input[class="uk-radio"] {
      margin-right: 20px; }
    .cat-left .selcted-items .uk-radio:checked {
      background-image: none; }
    .cat-left .selcted-items .uk-radio:checked, .cat-left .selcted-items .uk-checkbox:checked, .cat-left .selcted-items .uk-checkbox:indeterminate {
      background-color: #f7911e; }
  .cat-left label {
    font-size: 14px; }
    .cat-left label span {
      width: 35px;
      display: inline-block;
      margin-right: 5px; }
    .cat-left label .uk-form-width-small {
      width: 175px; }

body.blog-dt {
  background: #fff; }
  body.blog-dt .header {
    background: transparent;
    position: relative;
    padding: 40px;
    background: #fff; }
    body.blog-dt .header .logo {
      background-image: url(../img/logo-b.png); }
    body.blog-dt .header .uk-navbar-nav > li > a {
      color: #333; }
  body.blog-dt .blog-det-content .img-blog img {
    height: 350px;
    object-fit: cover; }
  body.blog-dt .blog-det-content .title-blog h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px; }
    body.blog-dt .blog-det-content .title-blog h1 span {
      font-size: 24px;
      font-weight: normal; }
  body.blog-dt .blog-det-content .date-published {
    font-size: 15px;
    color: #B5B5B5; }
  body.blog-dt .blog-det-content .likes {
    position: static;
    right: 0; }
    body.blog-dt .blog-det-content .likes li {
      margin-left: 15px;
      color: #B5B5B5; }
  body.blog-dt .the-content {
    line-height: 1.5;
    color: #333;
    text-align: justify;
    padding: 40px 0; }
  body.blog-dt .like-des {
    margin: 50px 0; }
    body.blog-dt .like-des .like-add {
      list-style: none; }
      body.blog-dt .like-des .like-add li {
        margin: 35px;
        font-size: 36px; }
        body.blog-dt .like-des .like-add li .like-text {
          color: #18C139; }
        body.blog-dt .like-des .like-add li .des-like-text {
          color: #EF3D3D; }
  body.blog-dt .related {
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc; }
    body.blog-dt .related .title-Related {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px; }
    body.blog-dt .related .img img {
      height: 230px;
      object-fit: cover; }
    body.blog-dt .related .title {
      font-size: 24px;
      color: #333;
      margin-top: 20px;
      margin-bottom: 10px; }
    body.blog-dt .related .some-text {
      font-size: 18px;
      color: #374957;
      line-height: 1.5;
      margin-bottom: 10px; }
    body.blog-dt .related .link-blog a {
      font-weight: bold; }
  body.blog-dt .comments {
    padding: 50px; }
    @media screen and (max-width: 780px) {
      body.blog-dt .comments {
        padding: 0; } }
    body.blog-dt .comments .add-comment {
      padding: 20px 40px;
      background: #F5F5F5;
      margin-bottom: 20px; }
    body.blog-dt .comments .list-comments {
      padding: 20px 40px; }
      @media screen and (max-width: 780px) {
        body.blog-dt .comments .list-comments {
          padding: 0; } }
      body.blog-dt .comments .list-comments li {
        margin-bottom: 20px;
        background: #f5f5f5;
        padding: 15px; }
        body.blog-dt .comments .list-comments li h4 {
          font-size: 18px;
          color: #333;
          margin-bottom: 5px; }
      body.blog-dt .comments .list-comments .img {
        width: 80px;
        height: 50px; }
        @media screen and (max-width: 780px) {
          body.blog-dt .comments .list-comments .img {
            width: 200px;
            text-align: center; } }
        body.blog-dt .comments .list-comments .img img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%; }

@media screen and (max-width: 780px) {
  .uk-navbar-right {
    display: block; }

  .uk-navbar-center:not(:only-child) {
    display: block;
    position: static;
    transform: none;
    float: right; } }

/*# sourceMappingURL=sub-style.css.map */
